<article class="py-20">
  <div class="max-w-[1530px] mx-auto px-6">
    <div class="flex flex-col lg:flex-row items-center">
      <div class="lg:w-1/2 mb-12 lg:mb-0 lg:pr-12">
        <app-title-section titleSection="Tecnologia" spanTitle="Inteligente" />
        <p class="text-gray-300 mb-8 text-lg">
          Nuestra plataforma utiliza lo último en tecnología para garantizar la
          seguridad y comodidad de tu vehículo.
        </p>
        <div class="space-y-8">
          <div class="flex items-start">
            <div class="bg-accent/20 p-3 rounded-full mr-6">
              <i data-feather="lock" class="w-6 h-6 text-accent"></i>
            </div>
            <div>
              <h3 class="text-white text-xl font-bold mb-2">Acceso Seguro</h3>
              <p class="text-gray-300">
                Control de acceso mediante app con verificación en tiempo real.
              </p>
            </div>
          </div>

          <div class="flex items-start">
            <div class="bg-accent/20 p-3 rounded-full mr-6">
              <i data-feather="camera" class="w-6 h-6 text-accent"></i>
            </div>
            <div>
              <h3 class="text-white text-xl font-bold mb-2">Vigilancia 24/7</h3>
              <p class="text-gray-300">
                Sistema de cámaras con grabación continua y monitoreo
                profesional.
              </p>
            </div>
          </div>

          <div class="flex items-start">
            <div class="bg-accent/20 p-3 rounded-full mr-6">
              <i data-feather="map-pin" class="w-6 h-6 text-accent"></i>
            </div>
            <div>
              <h3 class="text-white text-xl font-bold mb-2">
                Ubicaciones Estratégicas
              </h3>
              <p class="text-gray-300">
                Cocheras en puntos clave de la ciudad para tu conveniencia.
              </p>
            </div>
          </div>
        </div>
      </div>

      
      <div class="lg:w-1/2 relative">
        <div class="bg-accent/10 rounded-2xl p-2 border border-accent/20">
          <img
            src="../../../../../assets/images/parking.jpg"
            alt="App interface"
            class="rounded-xl w-full h-auto shadow-2xl"
          />
        </div>
        <div
          class="absolute -bottom-8 -left-8 bg-secondary w-32 h-32 rounded-full -z-10 opacity-20"
        ></div>
        <div
          class="absolute -top-8 -right-8 bg-accent w-24 h-24 rounded-full -z-10 opacity-20"
        ></div>
      </div>
    </div>
  </div>
</article>
