<article class="py-20" scrollEffect [once]="false">
  <div class="container mx-auto px-6">
    <app-title-section
      class="text-center"
      titleSection="Lo que dicen"
      spanTitle="nuestros clientes"
    />

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-stretch">
      <!-- Testimonial 1 -->
      @for (testimonial of clientTestimonial; track testimonial.id) {
      <app-testimonial-card
        class="h-full flex"
        [name]="testimonial.name"
        [image]="testimonial.image"
        [icon]="testimonial.icon"
        [description]="testimonial.description"
      />
      }
    </div>
  </div>
</article>
