/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    background-color: rgb(15, 23, 42);
  }
}

.reveal-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: all 0.8s ease;
}

.opacity-0 {
  opacity: 0;
}

.translate-y-10 {
  transform: translateY(40px);
}
